// CARBON COLORS
$ds-carbon-primary: #282B2A;
$ds-carbon-red: #E53F49;
$ds-carbon-green: #00BB7E;
$ds-carbon-white: #FFFFFF;

$ds-primary-color: $ds-carbon-primary;
// Gradient
$ds-primary-color-300: #7e807f;
$ds-primary-color-400: #535555;
$ds-primary-color-600: #202222;
$ds-primary-color-700: #181a19;

$ds-secondary-color: $ds-carbon-red;
// Gradient
$ds-secondary-color-50: #fad9db;
$ds-secondary-color-100: #f7c5c8;
$ds-secondary-color-200: #f29fa4;
$ds-secondary-color-300: #ed7980;
$ds-secondary-color-400: #e8525b;
$ds-secondary-color-600: #b7323a;
$ds-secondary-color-700: #89262c;

$ds-tertiary-color: $ds-carbon-green;
// Gradient
$ds-tertiary-color-50: #ccf1e5;
$ds-tertiary-color-100: #b3ebd8;
$ds-tertiary-color-200: #80ddbf;
$ds-tertiary-color-300: #4dcfa5;
$ds-tertiary-color-400: #1ac28b;
$ds-tertiary-color-600: #00a871;
$ds-tertiary-color-700: #008358;
$ds-tertiary-color-800: #005e3f;
$ds-tertiary-color-900: #004b32;

$ds-grey-color: #909090;
// Gradient
$ds-grey-color-50: #fafafa;
$ds-grey-color-100: #e9e9e9;
$ds-grey-color-200: #d3d3d3;
$ds-grey-color-300: #bcbcbc;
$ds-grey-color-400: #a6a6a6;
$ds-grey-color-600: #737373;
$ds-grey-color-700: #565656;
$ds-grey-color-800: #393939;
$ds-grey-color-900: #1c1c1c;

$ds-white-color: #ffffff;



