@import "mixins/mixins";
@import "variables/colors";

.ds-link {
  display: inline-block;
  color: $ds-tertiary-color;
  text-decoration: none;
  cursor: pointer;

  &:-webkit-any-link {
    color: $ds-tertiary-color;

    &:hover {
      color: $ds-white-color;
    }
  }

  &:hover {
    span {
      box-shadow: inset 0 -14px 0 0 $ds-primary-color;
    }
    color: $ds-white-color;

    .ds-icon {
      color: $ds-tertiary-color;
    }
  }

  &:focus {
    outline: none;
  }

  &:visited {
    color: $ds-tertiary-color;
  }

  & > .ds-icon {
    width: 1rem;
    vertical-align: bottom;
    margin-bottom: 0.15rem;
    margin-right: 0.313rem;
    font-size: 1rem;
  }

  & > span {
    transition: all 0.5s ease-in-out;
    box-shadow: inset 0 -1px 0 0 $ds-tertiary-color;
  }

  &--light,
  &--light:visited,
  &--light:-webkit-any-link {
    color: $ds-white-color;
  }
}

.bg-dark .ds-link > span {
  box-shadow: inset 0 -1px 0 0 $ds-white-color;
  transition: unset;
}

a.ds-btn.ds-btn--primary,
a.ds-btn.ds-btn--secondary,
a.ds-btn.ds-btn--secondary-light {
  text-decoration: none;
  text-transform: none;

  & > .ds-icon {
    width: 1rem;
    vertical-align: middle;
    margin-bottom: 0.2rem;
    margin-right: 0.313rem;
    font-size: 1rem;
  }
}

a.ds-btn.ds-btn--secondary-light {
  &:visited,
  &:visited > .ds-icon {
    color: $ds-white-color;
  }
  &:visited:hover,
  &:visited:hover > .ds-icon {
    color: $ds-secondary-color;
  }
}
